<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>617084840435-ne47u4ohjsmek48r4ropvi5dmljo0mn0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.617084840435-ne47u4ohjsmek48r4ropvi5dmljo0mn0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>617084840435-b9q8t4vq8q0ffcn8dp9vn5bsvpbviv4n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA01uk5mMnWf_0h_qMnfVQULaPcxcyscnU</string>
	<key>GCM_SENDER_ID</key>
	<string>617084840435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.geniouscart.app</string>
	<key>PROJECT_ID</key>
	<string>geniouscart-68ab9</string>
	<key>STORAGE_BUCKET</key>
	<string>geniouscart-68ab9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:617084840435:ios:f3634654835195c0650a86</string>
	<key>DATABASE_URL</key>
	<string>https://geniouscart-68ab9.firebaseio.com</string>
</dict>
</plist>